body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  background-color:#FFFFFF;
}
h1{
  font-weight:700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
h2{
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
color:#2E2F42;
line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
h3{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
   font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    cursor: pointer;
}
.logo .logostudio{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
   font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42 ;
}
.nav-menu{
  cursor: pointer;
  color: #2E2F42;
}
.nav-menu .nav-page{
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.nav-menu .nav-page:hover{
  color: #404BBF;
}
.nav-menu .nav-page:focus{
  color: #404BBF;
}
.header-address{
color: #404BBF;
font-style: normal;
}
.mail{
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover{
  color: #404BBF;
}
.mail:focus{
  color: #404BBF;
}
.call{
  letter-spacing: 0.02em;
  color: #434455;
}
.call:hover{
  color: #404BBF;
}
.call:focus{
  color: #404BBF;
}
.hero-image{
  background-color: #2E2F42;
  color: #FFFFFF;
}
.pagetitle{
  letter-spacing: 0.02em;
  text-align: center;
}
.order{
  cursor: pointer;
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.order:hover{
  background-color: #404BBF;
}
.order:focus{
  background-color: #404BBF;
}
.hiddentitle{
  letter-spacing: 0.02em;
}
.fewwords{
  letter-spacing: 0.02em;
}
.section2{
  background-color: #F4F4FD;
}
.team{
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.pers{
  background-color: #FFFFFF;
}
.teamh3{
  letter-spacing: 0.02em;
}
.psect2{
  font-size: 16px;
  letter-spacing: 0.02em;
}
.sect3-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}
.sect3-h3{
  letter-spacing: 0.02em;
}
.sect3-p{
  letter-spacing: 0.02em;
}
.footer{
  background-color: #2E2F42;
}
.footer .logostudio{
  color: #F4F4FD;
}
.footer .footer-text{
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}