*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  background-color:#FFFFFF;
}
img{
   display: block;
 }
h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom: 0;
 }
 ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
 }
.headerclas{
  border-bottom: 1px solid #e7e9fc;
 }
.container{
  width: 1158px;
  margin: 0 auto ;
  padding: 0 15px;
 }
.headerall{
  display:flex;
width: 1158px;
height: 72px;
margin:0 auto;
padding: 0 15px;
justify-content: center;
align-items: center;
border-bottom: 1px solid #e7e9fc;
  }
.header{
  display:flex;
  align-items: center;
 }
.huglogo{
display: inline-flex;
height: 24px;
align-items: center;
flex-shrink: 0;
margin-top: 24px;
margin-bottom: 24px;
margin-left: 156px;
margin-right: 76px;
 }
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
   font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    cursor: pointer;
}
.logo .logostudio{

    color: #2e2f42 ;
}
.nav-menu{
  cursor: pointer;
  color: #2E2F42;
  list-style-type: none;
  display:flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 24px;
margin-bottom: 24px;
margin-left: 76px;
margin-right: 32px;

}
.nav-menu .nav-page{
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding: 24px 0;
}
.nav-menu .nav-page:hover{
  color: #404BBF;
}
.nav-menu .nav-page:focus{
  color: #404BBF;
}
.header-address{
color: #404BBF;
font-style: normal;
}
.header-address-ul{
  display: flex;
margin-top: 24px;
margin-bottom: 24px;
align-items:flex-start;
gap: 40px;
margin-right: 0;
margin-left: 332px;
}

.mail{
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover{
  color: #404BBF;
}
.mail:focus{
  color: #404BBF;
}

.section-hero-image{
  background-color: #2E2F42;
  color: #FFFFFF;
  padding: 188px 0;

}
.pagetitle{
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.ordering{
  cursor: pointer;
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block; 
  min-width: 169px; 
  height: 56px ;
  border: none; 
  border-radius: 4px;

}
.order:hover{
  background-color: #404BBF;
}
.order:focus{
  background-color: #404BBF;
}
.hiddentitle{
  letter-spacing: 0.02em;
}
.fewwords{
  letter-spacing: 0.02em;
}
.section{
  padding: 120px 0 ;
}
.sectiontitle{
  visibility: hidden;
}
.section2{
  background-color: #F4F4FD;
}
.team{
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section2>ul>li{
  background-color: #FFFFFF;
}
.teamh3{
  letter-spacing: 0.02em;
}
.psect2{
  font-size: 16px;
  letter-spacing: 0.02em;
}
.sect3-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}
.sect3h3{
  letter-spacing: 0.02em;
}
.sect3p{
  letter-spacing: 0.02em;
}
.footer{
  background-color: #2E2F42;
  padding: 100px 0;
}
.footer .logo{
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logostudio{
  color: #F4F4FD;
}
.footer .footer-text{
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}