
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  background-color:#FFFFFF;
}
img{
  display: block;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 0;
  margin-bottom: 0;
 }
ul{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
.headerclas{
  border-bottom: 1px solid #e7e9fc;
}
.container{
  width: 1158px;
  margin: 0 auto ;
  padding: 0 15px;
}
.headerall{
  display:flex;
justify-content: space-between;
align-items: center;
}
.header{
  display:flex;
  align-items: center;
}

.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  cursor: pointer;
  display: block;
  height: 24px;
  align-items: center;
  flex-shrink: 0;

}
.logo .logostudio{
  color: #2e2f42 ;
}
.nav-menu{
  display:flex;
  align-items: center;
  gap: 40px;
  margin-left: 24px;
}
.nav-menu .nav-page{
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2E2F42;
  padding: 24px 0;
}
.nav-menu .nav-page:hover{
  color: #404BBF;
}
.nav-menu .nav-page:focus{
  color: #404BBF;
}
.header-address{
font-style: normal;
}
.header-address-ul{
  display: flex;
align-items:center;
gap: 40px;

}

.mail{
  letter-spacing: 0.02em;
  color: #434455;
}
.mail:hover{
  color: #404BBF;
}
.mail:focus{
  color: #404BBF;
}

.section-hero-image{
  background-color: #2E2F42;
  color: #FFFFFF;
  padding: 188px 0;
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.pagetitle{
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 107.143% */
letter-spacing: 1.12px;
  text-align: center;
  max-width: 496px;
  margin-top: 188px;

}
.ordering{
  cursor: pointer;
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block; 
  min-width: 169px; 
  height: 56px ;
  border: none; 
  border-radius: 4px;
  margin-top: 48px;
}
.ordering:hover{
  background-color: #404BBF;
}
.ordering:focus{
  background-color: #404BBF;
}
.hiddentitle{
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center; 
}
.fewwords{
  letter-spacing: 0.02em;
  text-align: center; 
}
.section{
  padding: 120px 0 ;
}
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.about-ul{
  display: flex;
  gap: 24px;  
}
.about-li{
  width: calc((100% - 72px) / 4);
}
.section-team{
  background-color: #F4F4FD;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team{
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.team-ul{
  display: flex;
  gap: 24px;  
}
.pers{
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.pers-inf{
  padding: 32px 0;
}
.section-portf{
  padding-top: 120px;
  padding-bottom: 120px; 
}
.portf-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px; 
  row-gap: 48px; 
}
.app{
  width: calc((100% - 48px) / 3);
}
.app-inf{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none; 
}
.footer{
  background-color: #2E2F42;
  padding: 100px 0;
}
.footer .logo{
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logostudio{
  color: #F4F4FD;
}
.footer .footer-text{
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}